.selector-list-wrapper {
	display: flex;
	width: 100%;
}

.box-up {
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	background-color: #77a2bb;
	color: white;
	font-weight: 800;
}

.box-down {
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	background-color: #d5dfe6;
	font-weight: 800;
}

.selector-title-wrapper {
	width: 100%;
	height: 90px;
}
