.selector-black-box-up {
	border: 2px solid black;
	border-bottom: none;
	border-right: none;
	cursor: pointer;
}

.selector-black-box-down {
	border: 2px solid black;
	border-right: none;
	cursor: pointer;
}

.selector-end {
	border-right: 2px solid black;
}

.selector-wrapper {
	width: 100%;
}

.selector-wrapper-selected {
	background-color: rgb(12, 12, 12);
	color: white;
	width: 100%;
}

.selector-wrapper:hover {
	background-color: rgb(161, 186, 241);
}
