.tg {
	border-collapse: collapse;
	border-spacing: 0;
	width: 290px;
	margin-top: 30px;
	font-weight: 500;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg .tg-73oq {
	border-color: #000000;
	text-align: left;
	vertical-align: top;
	font-weight: 400 !important;
}

.bold {
	font-weight: 800;
}

.level-table-heading {
	font-weight: 700;
}

.actfl-table-header-wrapper {
	background-color: #77a2bb;
	color: white;
}

.cefrl-table-header-wrapper {
	background-color: #d5dfe6;
}
