body {
	background-color: #eeece4 !important;
	font-family: "DM Sans", sans-serif;
	color: black !important;
}

.root-wrapper {
	max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
}

.table-flex {
	display: flex;
	gap: 30px;
}
